<!DOCTYPE html>

<html>
    <head>
        <!-- Bloc du menu -->
        <div id="bloc_menu">
                <a href="signaler.ejs">Signaler</a>
                <a href="consulter.ejs">Consulter</a>
                <a href="etudiant_consulter.ejs">Justificatif</a>
            </div>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Gestion des Absences</title>
        
        <script src="index.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https://unpkg.com/bootstrap@4.1.0/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
    </head>

    <body ng-controller="mainController" class="m-4">
        <button class="btn btn-link float-right" ng-click="logout()">
            <img src="image/logout.png" title="Log out" width="45" height="45"/> </button>
        <h2 class="text-weight-bold-primary text-center" style="color: blue">Gestion des absences</h2>
        <span ng-bind="user" class="font-weight-bold font-italic"></span>
        <hr />

        <form id="ajouterAbsence" action="/signaler/ajouter/" method="post">
            <p>
                <h4 class="text-weight-bold-primary text-left" style="color: blue">Ajouter d'une absence</h4>
                <hr />
                <fieldset>
                    <label for="cours">Cours: </label>
                    <input type="text" id="cours" name="cours" autofocus />
                    <br/>
                    <label for="date">Date: </label>
                    <input type="datetime" id="date" name="date"  />
                    <br/>
                    <label for="duree">Durée: </label>
                    <input type="number" id="duree" name="duree" />
                    Heures
                    <br/>
                    <label for="heure">Heure de départ: </label>
                    <input type="time" id="time" name="time" />
                    <br/>
                    <input type="submit" class="btn btn-outline-secondary" style="color: blue" value="Ajouter" />
                </fieldset>
            </p>
        </form>
        <hr />
         
        <!-- <ul>
            <% signalerabsence.forEach(function(signaler, index) { %>
                <li><a href="/signaler/<%= index %>"></a> <%= signaler %></li>
            <% }); %>
        </ul>   -->
        
    </body>
</html>