<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Gestion des Absences</title>
    
        <script src="index.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
        <script src="https://unpkg.com/bootstrap@4.1.0/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 
        <link rel="stylesheet" href="css/style.css" />
    </head>
    
    <body ng-controller="mainController" class="m-4">
        <button class="btn btn-link float-right" ng-click="logout()">
            <img src="image/logout.png" title="Log out" width="45" height="45"/> </button>
        <h2 class="text-weight-bold-primary text-center" style="color: blue">Gestion des absences</h2>
        <span ng-bind="user" class="font-weight-bold font-italic"></span>
        <hr />

        <form id="ajouterAbsence" action="/signaler/ajouter/" method="post">
            <p>
                <h4 class="text-weight-bold-primary text-left" style="color: blue">Consulter l'absence</h4>
                <hr />
                <div id="etudiantInfos">
                    Filière: <input type="text" /> </br> 
                    Cours: <input type="text" />  </br> 
                    Date: <input type="datetime" /> </br> 
                    Heure de départ: <input type="time"/> </br> 
                    Durée: <input type="text"/> </br>
                </div>
                <hr />
                <h5 class="text-weight-bold-primary text-left" style="color: blue">Listes de cours</h5>
                <div id="listesCours">
                    <button type="submit" ng-click="getAbsence(); getListes()" class="btn btn-link mt-3">  
                        <li ng-repeat="x in filteredList track by $index">
                        Web App et Mobile
                    </button>
                </div>             
                
            </p>
        </form>
<!--         
        <ul>
            <% signalerabsence.forEach(function(signaler, index) { %>
                <li><a href="/signaler/<%= index %>"></a> <%= signaler %></li>
            <% }); %>
        </ul> -->
    </body>
</html>